<%- include("includes/head") %>
  <body>
<%- include("includes/navbar.ejs") %>
  <main class="login-main">
    <div class="container">
      <form action="/login" class="login-form" method="post">
        <div class="form-group span-half">
            <label for="name" class="form-label sr-only">Enter Name</label
            ><input
              class="form-input"
              type="text"
              placeholder="Your Name"
              name="name"
              id="name"
            />
          </div>
          <div class="form-group span-half">
            <label for="email" class="form-label sr-only">Enter Email</label
            ><input
              class="form-input"
              type="email"
              placeholder="Your Email"
              name="email"
              id="email"
            />
          </div>
          <div class="form-group">
            <label for="title" class="form-label sr-only">Enter Title</label
            ><input
              class="form-input"
              type="text"
              placeholder="Your Title"
              id="title"
              name="title"
            />
          </div>
          <div class="form-group">
            <label for="comment" class="form-label sr-only"
              >Enter Comment</label
            >
            <textarea
              class="form-input"
              name="comment"
              id="comment"
              cols="30"
              rows="7"
              placeholder="Your Comment"
            ></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">send message</button>
          </div>
      </form>
    </div>
  </main>
  </body>
</html>